<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286216081313-bh0vkrmskr3stvnpbg5mr5v2gmgs6916.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286216081313-bh0vkrmskr3stvnpbg5mr5v2gmgs6916</string>
	<key>API_KEY</key>
	<string>AIzaSyC3s3mhWNIDmCce_5KUr7WPWDkyXdolBrI</string>
	<key>GCM_SENDER_ID</key>
	<string>286216081313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CtaReactiveMaster</string>
	<key>PROJECT_ID</key>
	<string>newsapi-a298c</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapi-a298c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286216081313:ios:9c1601b80aa799ad4145e0</string>
</dict>
</plist>